{
    "extends": ["stylelint-config-standard"],
    "rules": {
      "at-rule-no-unknown": null,
      "selector-class-pattern": null,
      "max-line-length": null,
      "no-descending-specificity": null
    },
    "overrides": [
      {
        "files": ["*.scss", "**/*.scss"],
        "extends": ["stylelint-config-standard-scss"]
      },
      {
        "files": ["*.vue", "**/*.vue"],
        "extends": ["stylelint-config-standard-scss", "stylelint-config-standard-vue/scss"]
      }
    ]
  }
  