{
    "extends": [
        "stylelint-scss",
        "stylelint-config-standard-scss",
        "stylelint-config-recommended-vue",
    ],
    "rules": {
        "at-rule-no-unknown": null,
        "selector-class-pattern": null,
        "max-line-length": null
    }
  }