{
    "extends": ["stylelint-config-standard"],
    "rules": {
      "at-rule-no-unknown": null,
      "selector-class-pattern": null,
      "declaration-colon-newline-after": null,
      "declaration-empty-line-before": null, 
      "max-line-length": null,
      "no-descending-specificity": null,
      "color-function-notation": null
    },
    "overrides": [
      {
        "files": ["*.scss", "**/*.scss"],
        "extends": ["stylelint-config-standard-scss"],
      },
      {
        "files": ["*.vue", "**/*.vue"],
        "extends": ["stylelint-config-standard-scss", "stylelint-config-standard-vue/scss"],
      }
    ]
  }
  